<div class="container">
    <h1>Reactive Form</h1>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        @if (userForm.get('username')?.touched) {
        @if (userForm.get('username')?.errors?.['required']) {
        <mat-error>Username is required.</mat-error>
        }
        @if (userForm.get('username')?.errors?.['minlength']) {
        <mat-error>Minimum 3 characters.</mat-error>
        }
        @if (userForm.get('username')?.errors?.['maxlength']) {
        <mat-error>Maximum 15 characters.</mat-error>
        }
        }

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        @if (userForm.get('email')?.touched) {
        @if (userForm.get('email')?.errors?.['required']) {
        <mat-error>Email is required.</mat-error>
        }
        @if (userForm.get('email')?.errors?.['email']) {
        <mat-error>Email should be valid format.</mat-error>
        }
        }

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age">
        </mat-form-field>
        @if (userForm.get('age')?.touched) {
        @if (userForm.get('age')?.errors?.['required']) {
        <mat-error>Age is required.</mat-error>
        }
        @if (
        userForm.get('age')?.errors?.['min'] ||
        userForm.get('age')?.errors?.['max']
        ) {
        <mat-error>Age must be between 18 and 99.</mat-error>
        }
        }

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        @if (userForm.get('password')?.touched) {
        @if (userForm.get('password')?.errors?.['required']) {
        <mat-error>Password is required.</mat-error>
        }
        @if (userForm.get('password')?.errors?.['minlength']) {
        <mat-error>Password must be at least 8 chars.</mat-error>
        }
        }

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
        @if (userForm.get('confirmPassword')?.touched) {
        @if (userForm.get('confirmPassword')?.errors?.['required']) {
        <mat-error>Confirm password is required.</mat-error>
        }
        }
        @if (
        userForm.errors?.['mismatch'] &&
        !userForm.get('confirmPassword')?.errors?.['required']
        ) {
        <mat-error>
            Passwords must match.
        </mat-error>
        }

        <button type="submit" [disabled]="userForm.invalid" matButton="elevated">
            Submit
        </button>
    </form>
</div>

@if (successMsg) {
<p class="text-success">
    Welcome, <strong>{{ successMsg }}</strong>!
</p>
}